@import "mocha.css";
@define-color surface0_t rgba(49, 50, 68, 0.8);
@define-color surface2_t rgba(88, 91, 112, 0.8);

* {
  font-family: "Jetbrains Mono", monospace;
  border: none;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  color: @text;
}

#window {
  background: @surface0_t;
  border-radius: 1rem;
  padding: 0rem 0.75rem;
  margin-left: 3px;
  margin-right: 3px;
}

window#waybar.empty #window {
	background: transparent;
}

#workspaces {
  background-color: @surface0_t;
  border-radius: 1rem;
  font-weight: bold;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  min-width: 2rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @surface2_t;
  color: @sky;
  border-radius: 1rem;
  min-width: 2.5rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-appmenu,
#window,
#workspaces,
#custom-power,
#cpu,
#memory,
#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#tray {
  background-color: @surface0_t;
  margin-top: 3px;
  margin-bottom: 3px;
}

#custom-appmenu {
  border-radius: 1rem;
  padding: 0rem 0.75rem;
  margin-left: 3px;
  margin-right: 3px;
}

#cpu {
  color: @pink;
  border-radius: 1rem 0rem 0rem 1rem;
  padding-left: 1rem;
  margin-left: 3px;
}

#memory {
  color: @pink;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-right: 3px;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  padding-left: 1rem;
  margin-left: 3px;
}

#pulseaudio.microphone {
  color: @maroon;
  padding-right: 1rem;
}

#backlight {
  color: @yellow;
}

#battery {
  padding-left: 1rem;
}

#network {
  color: @rosewater;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  padding: 0 1rem;
  margin-right: 3px;
}

#tray {
  padding: 0 1rem;
  border-radius: 1rem;
  margin-left: 3px;
  margin-right: 3px;
}

#custom-power {
  border-radius: 1rem;
  padding: 0rem 0.75rem;
  margin-left: 3px;
  margin-right: 3px;
}
