@define-color green #a6e3a1;
@define-color red #f38ba8;

* {
  font-family: "Jetbrains Mono", monospace;
  border: none;
  font-size: 14px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

#window {
  padding: 0rem 0.75rem;
  margin-left: 3px;
  margin-right: 3px;
}

window#waybar.empty #window {
	background: transparent;
}

#workspaces {
  border-radius: 1rem;
  font-weight: bold;
}

#workspaces button {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  min-width: 2rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  min-width: 2rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

#custom-appmenu,
#window,
#workspaces,
#custom-power,
#cpu,
#memory,
#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#tray {
  margin: 0 3px;
}

#custom-appmenu {
  border-radius: 1rem;
  padding: 0rem 0.75rem;
  margin-left: 3px;
  margin-right: 3px;
}

#tray {
  padding: 0 1rem;
  margin-left: 3px;
  margin-right: 3px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-power {
  padding: 0rem 0.5rem;
  margin-left: 3px;
  margin-right: 3px;
}
